@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
}

body {
    background-color: #B5D5C5;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    padding: 12px;
    margin: 50px;
    gap: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: lightgrey; */
}

.card {
    display: flex;
    padding: 8px;
    background-color: #F5F5DC;
}

.card img {
    height: auto;
    width: auto;
    max-width: auto;
    max-height: 200px;
}

.score-container {
    gap: 100px;
    width: 100vw;
    margin: 24px;
    padding: 12px;
    display: flex;
    justify-content: center;
    font-size: 72px;
    font-weight: bolder;
}

.score-container div {
    padding: 12px;
    border-radius: 8px;
}

.score-container .current-score {
    background-color: #B08BBB;
}

.score-container .best-score {
    background-color: #ECA869;
}