@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    padding: 12px;
    margin: 100px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: palegreen;
}

.card {
    display: flex;
    padding: 8px;
    background-color: lightblue;
}

.card img {
    height: auto;
    width: auto;
    max-width: auto;
    max-height: 200px;
}

.score {
    font-size: 72px;
}